# Day 1

## Part 1
Count number of times depth reading differs from previous

In [1]:
import pandas as pd

d = pd.read_csv('data/aoc-1.1.txt', names=['depth'])
d.head()

   depth
0    198
1    208
2    209
3    212
4    213

In [2]:
d['prev'] = d.shift(1)
d['increase'] = d['depth'] > d['prev']
d.increase.sum()

1791

## Part 2
Now use the sum of a moving 3-measurement window

In [19]:
d = pd.read_csv('data/aoc-1.1.txt', names=['depth'])
d['prev'] = d.shift(1)
d['prev2'] = d['prev'].shift(1)
d['block'] = d.iloc[:, 0:3].sum(axis=1) # sum the first three columns
d.dropna(inplace=True) # remove rows without valid block scores
d['pblock'] = d['block'].shift(1)
d['block_inc'] = d['block'] > d['pblock']
d.block_inc.sum()

1822

# Day 2: Dive!

In [4]:
import pandas as pd

d = pd.read_csv('data/aoc-2.txt', names=['direction', 'distance'], delim_whitespace=True)
d.head()

  direction  distance
0   forward         9
1   forward         7
2      down         7
3      down         3
4   forward         2

In [9]:
d_horizontal = d['distance'][d['direction'] == 'forward'].sum()
d_up = d['distance'][d['direction'] == 'up'].sum()
d_down = d['distance'][d['direction'] == 'down'].sum()
d_vertical = d_down - d_up
d_horizontal * d_vertical

1882980

## Part 2
We actually need to track `aim`
* `down X` *increases* aim by `X`
* `up X` *decreases* aim by `X`
* `forward X` (1) increases horizontal positional by `X` and (2) increases depth by `aim` *multiplied* by `X`

In [13]:
aim = 0
dist = 0
depth = 0

for ii in d.index:
    direction = d['direction'][ii]
    X = d['distance'][ii]
    if direction == 'forward':
        dist += X
        depth += aim * X
    elif direction == 'up':
        aim -= X
    else:
        aim += X
dist * depth

1971232560