# Day 1

## Part 1
Count number of times depth reading differs from previous

In [1]:
import pandas as pd

d = pd.read_csv('data/aoc-1.1.txt', names=['depth'])
d.head()

   depth
0    198
1    208
2    209
3    212
4    213

In [2]:
d['prev'] = d.shift(1)
d['increase'] = d['depth'] > d['prev']
d.increase.sum()

1791

## Part 2
Now use the sum of a moving 3-measurement window

In [19]:
d = pd.read_csv('data/aoc-1.1.txt', names=['depth'])
d['prev'] = d.shift(1)
d['prev2'] = d['prev'].shift(1)
d['block'] = d.iloc[:, 0:3].sum(axis=1) # sum the first three columns
d.dropna(inplace=True) # remove rows without valid block scores
d['pblock'] = d['block'].shift(1)
d['block_inc'] = d['block'] > d['pblock']
d.block_inc.sum()

1822